<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
	<div class="palm-hasheader">
		<div class="palm-header">Fast URL Lite</div>
		<div class="palm-header-spacer"></div>
	</div>
	<div class="palm-group">
		<div class="palm-group-title">Prefix</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="TextField" id="prefixId" class="prefixClass" name="prefixName"></div>
					</div>
				</div> 
			</div>
		</div>		
 	</div>
	<div class="palm-group">
		<div class="palm-group-title">Domain</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="TextField" id="domainId" class="domainClass" name="domainName"></div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="palm-group unlabeled">
		<div x-mojo-element="ListSelector" id="suffixId" class="suffixClass" name="suffixName"></div> 
 	</div>
	<div id="submitButton" name="submitName" x-mojo-element="Button"></div>
	<div id="showurlsButton" name="showurlsName" x-mojo-element="Button"></div>
</div>
