<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-header-spacer"></div>
<div id="fasturlpro_ad">
	<a href="http://developer.palm.com/appredirect/?packageid=com.guylabs.fasturlpro">
		<img src="images/ad_fasturlpro.png" border="0" height="50" width="320" />			
	</a>		
</div>
<div class="palm-body-text">
<div class="palm-header">Fast URL Lite</div>

	<div id="listContainer">
		<div id="list" x-mojo-element="List"></div>
	</div>
	<div id="sendEmailButton" name="sendEmailName" x-mojo-element="Button"></div>
	<div id="blah"></div>
</div>



